In [1]:
import numpy as np
import pandas as pd

# 1. Creating a Series

## Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module

In [2]:
pd_series = pd.Series([1,2,3])

In [3]:
pd_series

0    1
1    2
2    3
dtype: int64

# Write a Pandas program to create a Series from a list containing different data types and then filter out elements of a specific type.

In [41]:
pd_ser = pd.Series([1,2,4,'hello',6.4,8, True, False])
print('Original series',pd_ser)
bool_arr = list(filter(lambda x: isinstance(x, bool), pd_ser))
int_arr = list(filter(lambda x: isinstance(x, int), pd_ser)) # isinstancce(True,int) is treated like int 1 for True, 0 for False
str_arr = list(filter(lambda x: isinstance(x, str), pd_ser))
print('Boolean array',bool_arr)
print('Integer array', int_arr)
print('String array', str_arr)

Original series 0        1
1        2
2        4
3    hello
4      6.4
5        8
6     True
7    False
dtype: object
Boolean array [True, False]
Integer array [1, 2, 4, 8, True, False]
String array ['hello']

# 2. Series to List Conversion

## Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [49]:
pd_ser = pd.Series([3,4,5,6])
print('Pandas series',pd_ser)
print('Type of pandas series',type(pd_ser))
py_list = pd_ser.tolist()
print('Python list',py_list)
print('Type of list',type(py_list))

Pandas series 0    3
1    4
2    5
3    6
dtype: int64
Type of pandas series <class 'pandas.core.series.Series'>
Python list [3, 4, 5, 6]
Type of list <class 'list'>

# 3. Series Arithmetic

## Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [56]:
pd_ser1 = pd.Series([2, 4, 6, 8, 10])
pd_ser2 = pd.Series([1, 3, 5, 7, 9])
print('Series 1')
print(pd_ser1)
print('Series 2')
print(pd_ser2)
print('Addition')
print(pd_ser1+pd_ser2)
print('Subtraction')
print(pd_ser1-pd_ser2)
print('Multiplication')
print(pd_ser1*pd_ser2)
print('Division')
print(pd_ser1/pd_ser2)

Series 1
0     2
1     4
2     6
3     8
4    10
dtype: int64
Series 2
0    1
1    3
2    5
3    7
4    9
dtype: int64
Addition
0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtraction
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiplication
0     2
1    12
2    30
3    56
4    90
dtype: int64
Division
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

# 4. Series Comparison

## Write a Pandas program to compare the elements of the two Pandas Series.

In [60]:
pd_ser1 = pd.Series([2, 4, 6, 8, 10])
pd_ser2 = pd.Series([1, 3, 5, 7, 10])
print('Series 1')
print(pd_ser1)
print('Series 2')
print(pd_ser2)
print('Equal')
print(pd_ser1 == pd_ser2)
print('Check if Series1 is greater than Series2')
print(pd_ser1>pd_ser2)
print('Check if Series2 is greater than Series1')
print(pd_ser2>pd_ser1)

Series 1
0     2
1     4
2     6
3     8
4    10
dtype: int64
Series 2
0     1
1     3
2     5
3     7
4    10
dtype: int64
Equal
0    False
1    False
2    False
3    False
4     True
dtype: bool
Check if Series1 is greater than Series2
0     True
1     True
2     True
3     True
4    False
dtype: bool
Check if Series2 is greater than Series1
0    False
1    False
2    False
3    False
4    False
dtype: bool

# 5. Dict to Series

## Write a Pandas program to convert a dictionary to a Pandas series.

In [61]:
pd_dict = pd.Series({'a':1,'b':2,'c':3,'d':4})
print(pd_dict)

a    1
b    2
c    3
d    4
dtype: int64