# Pandas stands for Panel Data, core library for data manipulation and data analysis

In [2]:
import pandas as pd

## Series(1D array in Pandas)

In [3]:
s1 = pd.Series([1,2,3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

# Change index in Pandas Series

In [4]:
s1 = pd.Series([1,2,3,4], index = ['a','b','c','d'])
s1

a    1
b    2
c    3
d    4
dtype: int64

# Series with dictionary

In [5]:
s1 = pd.Series({'a':'1','b':'2','c':'3'})
s1

a    1
b    2
c    3
dtype: object

# Pandas Series with new index in dictionary

In [6]:
s1 = pd.Series({'a':'1','b':'2','c':'3'}, index=['a','b','c','d'])
s1

a      1
b      2
c      3
d    NaN
dtype: object

# Extracting a single element from pandas series

s1 = pd.Series([1,2,3,4,5,6,7])
s1[3]

# Extracting a sequence from Pandas series

In [10]:
s1 = pd.Series([1,2,3,4,5,6])
s1[:4] # form starting to index 3, as 4 is excluded

0    1
1    2
2    3
3    4
dtype: int64

In [12]:
s1 = pd.Series([1,2,3,4,5,6])
s1[2:4] #extract from index 2 to 3 as 4 is excluded

2    3
3    4
dtype: int64

In [13]:
s1 = pd.Series([1,2,3,4,5])
s1[-3:] # negative means from the end, till the index given, as index is a first positon so it is included

2    3
3    4
4    5
dtype: int64

# Arithmetic operations on the Pandas Series

In [15]:
s1 = pd.Series([1,2,3,4,5])
s1+5 # adding 5 into each element of the Series

0     6
1     7
2     8
3     9
4    10
dtype: int64

In [17]:
s1 = pd.Series([10,20,30])
s1-5 #subtracitng 5 from each element of the Series

0     5
1    15
2    25
dtype: int64

In [19]:
s1 = pd.Series([10,20,30])
s1*10 #multiple 10 with each element of the Series

0    100
1    200
2    300
dtype: int64

In [21]:
s1 = pd.Series([10,20,30])
s1/10 #divide each element of the series by 10

0    1.0
1    2.0
2    3.0
dtype: float64

# Adding elements of 2 pandas series

In [22]:
s1 = pd.Series([1,2,3,4])
s2 = pd.Series([10,20,30,40])
s1+s2

0    11
1    22
2    33
3    44
dtype: int64

In [24]:
s1 - s2 # subtracting one series from the other

0    -9
1   -18
2   -27
3   -36
dtype: int64

In [25]:
s1*s2 # multiply each element of the series

0     10
1     40
2     90
3    160
dtype: int64